.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/D9A2A7B8-couches/1/s/chunks.json
couches-1.Rmd
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rhistory
.RDataTmp
.Rhistory
