.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/D9A2A7B8-couches/1/s/chunks.json
couches-1.Rmd
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rhistory
.RDataTmp
.Rhistory
.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/B7E55391/sources/prop/INDEX
.Rproj.user/shared/notebooks/D9A2A7B8-couches/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rproj.user/B7E55391/pcs/source-pane.pper
.Rproj.user/B7E55391/pcs/source-pane.pper
.Rproj.user/B7E55391/pcs/windowlayoutstate.pper
.Rproj.user/B7E55391/rmd-outputs
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/sources/prop/INDEX
.Rproj.user/shared/notebooks/D9A2A7B8-couches/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
couches_files/figure-latex/unnamed-chunk-11-1.pdf
couches_files/figure-latex/unnamed-chunk-11-2.pdf
couches_files/figure-latex/unnamed-chunk-11-3.pdf
couches_files/figure-latex/unnamed-chunk-11-4.pdf
couches_files/figure-latex/unnamed-chunk-11-5.pdf
couches_files/figure-latex/unnamed-chunk-11-6.pdf
couches_files/figure-latex/unnamed-chunk-11-7.pdf
couches_files/figure-latex/unnamed-chunk-11-8.pdf
couches_files/figure-latex/unnamed-chunk-11-9.pdf
couches_files/figure-latex/unnamed-chunk-12-1.pdf
couches_files/figure-latex/unnamed-chunk-12-2.pdf
couches_files/figure-latex/unnamed-chunk-12-3.pdf
couches_files/figure-latex/unnamed-chunk-12-4.pdf
couches_files/figure-latex/unnamed-chunk-12-5.pdf
couches_files/figure-latex/unnamed-chunk-12-6.pdf
couches_files/figure-latex/unnamed-chunk-12-7.pdf
couches_files/figure-latex/unnamed-chunk-12-8.pdf
couches_files/figure-latex/unnamed-chunk-12-9.pdf
couches_files/figure-latex/unnamed-chunk-13-1.pdf
couches_files/figure-latex/unnamed-chunk-13-2.pdf
couches_files/figure-latex/unnamed-chunk-13-3.pdf
couches_files/figure-latex/unnamed-chunk-13-4.pdf
couches_files/figure-latex/unnamed-chunk-13-5.pdf
couches_files/figure-latex/unnamed-chunk-13-6.pdf
couches_files/figure-latex/unnamed-chunk-13-7.pdf
couches_files/figure-latex/unnamed-chunk-13-8.pdf
couches_files/figure-latex/unnamed-chunk-13-9.pdf
couches_files/figure-latex/unnamed-chunk-14-1.pdf
couches_files/figure-latex/unnamed-chunk-14-2.pdf
couches_files/figure-latex/unnamed-chunk-14-3.pdf
couches_files/figure-latex/unnamed-chunk-14-4.pdf
couches_files/figure-latex/unnamed-chunk-14-5.pdf
couches_files/figure-latex/unnamed-chunk-14-6.pdf
couches_files/figure-latex/unnamed-chunk-14-7.pdf
couches_files/figure-latex/unnamed-chunk-14-8.pdf
couches_files/figure-latex/unnamed-chunk-14-9.pdf
couches_files/figure-latex/unnamed-chunk-15-1.pdf
couches_files/figure-latex/unnamed-chunk-15-2.pdf
couches_files/figure-latex/unnamed-chunk-15-3.pdf
couches_files/figure-latex/unnamed-chunk-15-4.pdf
couches_files/figure-latex/unnamed-chunk-15-5.pdf
couches_files/figure-latex/unnamed-chunk-15-6.pdf
couches_files/figure-latex/unnamed-chunk-15-7.pdf
couches_files/figure-latex/unnamed-chunk-18-1.pdf
couches_files/figure-latex/unnamed-chunk-18-2.pdf
couches_files/figure-latex/unnamed-chunk-25-1.pdf
coasting_on_couches/app.R
couches_files/figure-html/unnamed-chunk-18-1.png
couches_files/figure-html/unnamed-chunk-18-2.png
couches_files/figure-html/unnamed-chunk-18-3.png
couches_files/figure-html/unnamed-chunk-18-4.png
couches_files/figure-html/unnamed-chunk-18-5.png
couches_files/figure-html/unnamed-chunk-18-6.png
couches_files/figure-html/unnamed-chunk-18-7.png
couches_files/figure-html/unnamed-chunk-18-8.png
couches_files/figure-html/unnamed-chunk-18-9.png
couches_files/figure-html/unnamed-chunk-19-1.png
couches_files/figure-html/unnamed-chunk-19-2.png
couches_files/figure-html/unnamed-chunk-19-3.png
couches_files/figure-html/unnamed-chunk-19-4.png
couches_files/figure-html/unnamed-chunk-19-5.png
couches_files/figure-html/unnamed-chunk-19-6.png
couches_files/figure-html/unnamed-chunk-19-7.png
couches_files/figure-html/unnamed-chunk-19-8.png
couches_files/figure-html/unnamed-chunk-19-9.png
couches_files/figure-html/unnamed-chunk-20-1.png
couches_files/figure-html/unnamed-chunk-20-2.png
couches_files/figure-html/unnamed-chunk-20-3.png
couches_files/figure-html/unnamed-chunk-20-4.png
couches_files/figure-html/unnamed-chunk-20-5.png
couches_files/figure-html/unnamed-chunk-20-6.png
couches_files/figure-html/unnamed-chunk-20-7.png
couches_files/figure-html/unnamed-chunk-20-8.png
couches_files/figure-html/unnamed-chunk-20-9.png
couches_files/figure-html/unnamed-chunk-21-1.png
couches_files/figure-html/unnamed-chunk-21-2.png
couches_files/figure-html/unnamed-chunk-21-3.png
couches_files/figure-html/unnamed-chunk-21-4.png
couches_files/figure-html/unnamed-chunk-21-5.png
couches_files/figure-html/unnamed-chunk-21-6.png
couches_files/figure-html/unnamed-chunk-21-7.png
couches_files/figure-html/unnamed-chunk-21-8.png
couches_files/figure-html/unnamed-chunk-21-9.png
couches_files/figure-html/unnamed-chunk-22-1.png
couches_files/figure-html/unnamed-chunk-22-2.png
couches_files/figure-html/unnamed-chunk-22-3.png
couches_files/figure-html/unnamed-chunk-22-4.png
couches_files/figure-html/unnamed-chunk-22-5.png
couches_files/figure-html/unnamed-chunk-22-6.png
couches_files/figure-html/unnamed-chunk-22-7.png
couches_files/figure-html/unnamed-chunk-26-1.png
couches_files/figure-html/unnamed-chunk-26-2.png
couches_files/figure-html/unnamed-chunk-26-3.png
couches_files/figure-html/unnamed-chunk-26-4.png
couches_files/figure-html/unnamed-chunk-27-1.png
couches_files/figure-html/unnamed-chunk-27-10.png
couches_files/figure-html/unnamed-chunk-27-11.png
couches_files/figure-html/unnamed-chunk-27-12.png
couches_files/figure-html/unnamed-chunk-27-2.png
couches_files/figure-html/unnamed-chunk-27-3.png
couches_files/figure-html/unnamed-chunk-27-4.png
couches_files/figure-html/unnamed-chunk-27-5.png
couches_files/figure-html/unnamed-chunk-27-6.png
couches_files/figure-html/unnamed-chunk-27-7.png
couches_files/figure-html/unnamed-chunk-27-8.png
couches_files/figure-html/unnamed-chunk-27-9.png
couches_files/figure-html/unnamed-chunk-28-1.png
couches_files/figure-html/unnamed-chunk-28-10.png
couches_files/figure-html/unnamed-chunk-28-11.png
couches_files/figure-html/unnamed-chunk-28-12.png
couches_files/figure-html/unnamed-chunk-28-2.png
couches_files/figure-html/unnamed-chunk-28-3.png
couches_files/figure-html/unnamed-chunk-28-4.png
couches_files/figure-html/unnamed-chunk-28-5.png
couches_files/figure-html/unnamed-chunk-28-6.png
couches_files/figure-html/unnamed-chunk-28-7.png
couches_files/figure-html/unnamed-chunk-28-8.png
couches_files/figure-html/unnamed-chunk-28-9.png
