.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/D9A2A7B8-couches/1/s/chunks.json
couches-1.Rmd
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rhistory
.RDataTmp
.Rhistory
.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/B7E55391/sources/prop/INDEX
.Rproj.user/shared/notebooks/D9A2A7B8-couches/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rproj.user/B7E55391/pcs/source-pane.pper
.Rproj.user/B7E55391/pcs/source-pane.pper
.Rproj.user/B7E55391/pcs/windowlayoutstate.pper
.Rproj.user/B7E55391/rmd-outputs
.Rproj.user/B7E55391/sources/prop/0C0347C4
.Rproj.user/B7E55391/sources/prop/INDEX
.Rproj.user/shared/notebooks/D9A2A7B8-couches/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
couches_files/figure-latex/unnamed-chunk-11-1.pdf
couches_files/figure-latex/unnamed-chunk-11-2.pdf
couches_files/figure-latex/unnamed-chunk-11-3.pdf
couches_files/figure-latex/unnamed-chunk-11-4.pdf
couches_files/figure-latex/unnamed-chunk-11-5.pdf
couches_files/figure-latex/unnamed-chunk-11-6.pdf
couches_files/figure-latex/unnamed-chunk-11-7.pdf
couches_files/figure-latex/unnamed-chunk-11-8.pdf
couches_files/figure-latex/unnamed-chunk-11-9.pdf
couches_files/figure-latex/unnamed-chunk-12-1.pdf
couches_files/figure-latex/unnamed-chunk-12-2.pdf
couches_files/figure-latex/unnamed-chunk-12-3.pdf
couches_files/figure-latex/unnamed-chunk-12-4.pdf
couches_files/figure-latex/unnamed-chunk-12-5.pdf
couches_files/figure-latex/unnamed-chunk-12-6.pdf
couches_files/figure-latex/unnamed-chunk-12-7.pdf
couches_files/figure-latex/unnamed-chunk-12-8.pdf
couches_files/figure-latex/unnamed-chunk-12-9.pdf
couches_files/figure-latex/unnamed-chunk-13-1.pdf
couches_files/figure-latex/unnamed-chunk-13-2.pdf
couches_files/figure-latex/unnamed-chunk-13-3.pdf
couches_files/figure-latex/unnamed-chunk-13-4.pdf
couches_files/figure-latex/unnamed-chunk-13-5.pdf
couches_files/figure-latex/unnamed-chunk-13-6.pdf
couches_files/figure-latex/unnamed-chunk-13-7.pdf
couches_files/figure-latex/unnamed-chunk-13-8.pdf
couches_files/figure-latex/unnamed-chunk-13-9.pdf
couches_files/figure-latex/unnamed-chunk-14-1.pdf
couches_files/figure-latex/unnamed-chunk-14-2.pdf
couches_files/figure-latex/unnamed-chunk-14-3.pdf
couches_files/figure-latex/unnamed-chunk-14-4.pdf
couches_files/figure-latex/unnamed-chunk-14-5.pdf
couches_files/figure-latex/unnamed-chunk-14-6.pdf
couches_files/figure-latex/unnamed-chunk-14-7.pdf
couches_files/figure-latex/unnamed-chunk-14-8.pdf
couches_files/figure-latex/unnamed-chunk-14-9.pdf
couches_files/figure-latex/unnamed-chunk-15-1.pdf
couches_files/figure-latex/unnamed-chunk-15-2.pdf
couches_files/figure-latex/unnamed-chunk-15-3.pdf
couches_files/figure-latex/unnamed-chunk-15-4.pdf
couches_files/figure-latex/unnamed-chunk-15-5.pdf
couches_files/figure-latex/unnamed-chunk-15-6.pdf
couches_files/figure-latex/unnamed-chunk-15-7.pdf
couches_files/figure-latex/unnamed-chunk-18-1.pdf
couches_files/figure-latex/unnamed-chunk-18-2.pdf
couches_files/figure-latex/unnamed-chunk-25-1.pdf
